/**
*  maicedata-ui
*  默认主题配置
*/

@primary-color: #0477DE; //#31c27c;
@warning-color: #fca130;
@error-color: #f93e3e;
@success-color: #35C613;
@info-color: #61affe;
@bg-color: #FAFAFA;
@border-color: #e8e8e8;
@label-color: #333;
@default-color: #d9d9d9;
@loading-color: #61affe;
@font-color: rgba(0, 0, 0, .65);
@placeholder-color: rgba(0, 0, 0, .3);
@disabled-color: #f5f5f5;
@disabled-font-color: fade(@font-color, 25%);
@font-size: 14px;
@font-size-small: 12px;
@font-size-large: 16px;
@border-radius: 4px;
@default-shadow: 0 4px 22px 0 rgba(15, 35, 95, 0.12);
@default-section-shadow: 0 1px 4px 0 rgba(15, 35, 95, 0.12);
@default-text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
@picker-offset-top: 5px;
@mask-bg-color: rgba(0, 0, 0, .5);

//动画时间
@loading-time: 1.5s;
@loading-opacity: .7;
@animate-time : .5s;
@animate-type: cubic-bezier(0.165, 0.84, 0.44, 1);
@animate-type-easy-in-out: cubic-bezier(.9, .25, .08, .83);
@default-transition: @animate-time @animate-type;


//Button 按钮
@button-default-width: 32px;
@button-default-height: 32px;
@button-small-width: 20px;
@button-small-height: 20px;
@button-large-width: 48px;
@button-large-height: 48px;
@button-default-font-size: @font-size;
@button-large-font-size : 16px;
@button-small-font-size : 12px;
@button-small-padding: 0 10px;
@button-large-padding: 0 40px;
@button-default-padding: 0 18px;
@button-box-shadow: 0 2px 0 rgba(15, 35, 95, .02);
@button-disabled-opacity: .6;


//Modal 对话框
@modal-bg-color: #fff;
@modal-z-index: 9999999;
@modal-padding: 20px;
@modal-header-height: 40px;
@modal-footer-padding: 15px 20px;
@modal-title-font-size: 16px;
@modal-header-padding: 5px 10px;
@modal-close-font-size: 20px;
@modal-close-font-color: fade(@font-color, 45%);
@modal-mask-color: @mask-bg-color;
@modal-offset-top: 100px;
@modal-offset-bottom: 100px;   // 超长 modal 距离底部的距离
@modal-width : 520px;
@modal-method-width : 420px;
@modal-method-icon-size: 22px;
@modal-method-icon-offset: 10px;
@modal-header-title-padding: 0 30px;
