
.mc_map_tool_wrap {
  user-select: none;
  cursor: pointer;
}

.mc_map_tool_btn_wrap {
  width: 36px;
  height: auto;
  flex-direction: column;
  background: #262E44;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 20;
  .material-icons {
    color: #fff;
    font-size: 16px;
  }
  .mc_map_tool_btn_container {
    height: 24px;
    width: 24px;
    border-radius: 4px;
    margin: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: #3D4762;
    }
  }
}

.mc_map_left_btn {
  width: 16px;
  height: 16px;
  margin: 4px;
  pointer-events: auto;
  cursor: pointer;
  &.polygon_select {
    mask: url("../../static/images/map_visual/polygen-Select.svg") no-repeat 50% 50%;
    mask-size: contain;
    background-color: #E0E3E8;
    &.polygon_select_s {

    }
  }
  &.cursor_select { // 光标
    mask: url("../../static/images/map_visual/cursor_select.svg") no-repeat 50% 50%;
    mask-size: contain;
    background-color: #E0E3E8;
    transition: all 0.3s;
    &.cursor_on {

    }
  }
  &.delete_draw {
    mask: url("../../static/images/map_visual/delete_draw.svg") no-repeat 50% 50%;
    mask-size: contain;
    background-color: #E0E3E8;
    transition: all 0.3s;
    &.no_lable {
      height: 0;
      opacity: 0;
    }
  }
  &.diameter_select {
    mask: url("../../static/images/map_visual/diameter-Select.svg") no-repeat 50% 50%;
    mask-size: contain;
    background-color: #E0E3E8;
    transition: all 0.3s;
    &.diameter_select_s {

    }
  }
  &.hide_polygon_point {
    background-image: url("../../static/images/map_visual/baseline_pin_drop_white.png");
    background-repeat: no-repeat;
    background-size: 45%;
    background-position: center;
    //&.diameter_select_s{
    //    background-image: url("../../static/images/map_visual/diameter-Select-S.png");
    //}
  }
  &.map_style {
    mask: url("../../static/images/map_visual/map_style.svg") no-repeat 50% 50%;
    mask-size: contain;
    background-color: #E0E3E8;
    transition: all 0.3s;
  }
  &.more_select {
    mask: url("../../static/images/map_visual/more_select.svg") no-repeat 50% 50%;
    mask-size: contain;
    background-color: #E0E3E8;
    transition: all 0.3s;
  }
  &.less_select {
    background-image: url("../../static/images/map_visual/less_select.png");
    background-size: contain;
  }
  &.label_off {
    background-image: url("../../static/images/map_visual/label_off.png");
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.3s;
    &.noLabel {
      height: 0;
      opacity: 0;
    }
  }
}

.fullscreen {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
}

.event_init {
  pointer-events: auto;
}

.mc_map_tool_choose_style {
  .event_init;
  width: 120px;
  height: 108px;
  margin-bottom: 2px;
  .mc_map_tool_choose_style_item {
    background-color: #293453;
    font-size: 12px;
    color: #fff;
    display: flex;
    flex-direction: row;
    height: 36px;
    align-items: center;
    cursor: pointer;
    &:hover {
      background-color: #3B4A76;
    }
  }
}

.mc_map_tool_btn {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rc-tooltip-inner {
  min-height: unset !important;
}

.hidden {
  display: none;
}

.pano_close_ex {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  border-radius: 3px;
  background-color: rgba(37, 37, 37, .9);
  background-image: url(http://api0.map.bdimg.com/images/panorama/close.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 90%;
}

.pano_close_ex:hover {
  background-image: url(http://api0.map.bdimg.com/images/panorama/close_hover.png);
}
