
.mc_checkbox_icon {
  display: flex;
  width: 14px;
  height: 14px;
  pointer-events: auto;
  cursor: pointer;
}

.mc_loading_icon {
  display: flex;
  width: 14px;
  height: 14px;
  pointer-events: auto;
}
