.button-example {
  button {
    margin: 20px 40px;
  }
  background-color: #262E44;
  color: #fff;
  padding: 20px;
}

.input-example {
  background-color: #262E44;
  color: #fff;
  padding: 20px;
}
